<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> Hello Admin! </p>
<div>
    <span> Show Profile </span>
    <a th:href="@{/admin/showAdmin}"> Show Profile </a>
</div>
<div>
    <span> Show All Users </span>
    <a th:href="@{/admin/showAllUsers}"> Show All Users </a>
</div>
<div>
    <span> Logout </span>
    <a th:href="@{/logut}"> Logout </a>
</div>

<div>
    <span> Authors </span>
    <a th:href="@{/author/showAll}"> See authors </a>
</div>
<div>
    <span> Category </span>
    <a th:href="@{/category/showAll}"> See categories </a>
</div>
<div>
    <span> Publisher </span>
    <a th:href="@{/publisher/showAll}"> See publishers </a>
</div>
<div>
    <span> Book </span>
    <a th:href="@{/book/showAll}"> See books </a>
</div>
</body>
</html>