<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
        <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Price Total</th>
                    <th>Action</th>
                    <tr th:each="order: ${orderBooks}">
                        <td th:text="${order.title}"/>
                        <td th:text="${order.quantity}"/>
                        <td th:text="${order.price}"/>
                        <td th:text="* ${order.price} * ${order.quantity}"/>
                    </tr>
                </table>
        </div>
</body>
</html>