<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
        <div>
                <table>
                    <th>Book</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Sum</th>
                    <th></th>
                    <tr th:each="order: ${orderBook}">
                        <td th:text="${order.title}"/>
                        <td th:text="${order.quantity}"/>
                        <td th:text="${order.price}"/>
                        <td th:text="${order.price} * ${order.quantity}"/>
                        <td><a th:href="@{/order/remove/{id}/(id=${order.id})}">Usuń</a><a th:href="@{/order/plus/{id}/(id=${order.id})}" class="btn btn-info">+</a>
                            <a th:href="@{/order/minus/{id}/(id=${order.id})}">-</a></td>
                    </tr>
                </table>

        </div>
</body>
</html>