<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>List of Books</h3>

<div sec:authorize="hasRole('ADMIN')">>
    <span> Add new book </span>
    <a th:href="@{/book/add}">Add
    </a>
</div>
<div>
    <table>
        <tr>
            <th th:text="'Id'"></th>
            <th th:text="'Title'"></th>
            <th th:text="'Author'"></th>
            <th th:text="'Price'"></th>
            <th sec:authorize="hasRole('ADMIN')"> Update </th>
            <th sec:authorize="hasRole('ADMIN')"> Delete </th>
            <th> Details </th>

        </tr>

        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td>
                <span th:each="author: ${book.authors}">
                    <b th:text="${author.fullName}"/></span>
            </td>
            <td th:text="${book.price}"></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/book/update/{id}/(id=${book.id})}"> Update </a></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/book/delete/{id}/(id=${book.id})}"> Delete </a></td>
            <td><a th:href="@{/book/showDetails/{id}/(id=${book.id})}"> Show Details </a></td>
        </tr>
    </table>
</div >
<div sec:authorize="hasRole('ADMIN')">
<a th:href="@{/welcomeAdmin}"> Back </a>
</div>
<div sec:authorize="hasRole('USER')">
    <a th:href="@{/welcomeUser}"> Back </a>
</div>
</body>
</html>