<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div><h3>Book details </h3>
    <table>
        <tr>
            <th th:text="'Id'"></th>
            <th th:text="'Title'"></th>
            <th th:text="'Author'"></th>
            <th th:text="'Description'"></th>
            <th th:text="'Publisher'"></th>
            <th th:text="'Date of Publishing'"></th>
            <th th:text="'Category'"></th>
            <th th:text="'Price'"></th>
            <th th:text="'Quantity'"></th>
            <th sec:authorize="hasRole('ADMIN')"> Update</th>
            <th sec:authorize="hasRole('USER')"> Add to Cart</th>

        </tr>

        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td>
                <span th:each="author: ${book.authors}">
                    <b th:text="${author.fullName}"/></span>
            </td>
            <td th:text="${book.description}"></td>
            <td>
                <span th:each="publisher: ${book.publishers}">
                    <b th:text="${publisher.name}"/></span>
            </td>
            <td th:text="${book.dateOfPublishing}"></td>
            <td>
                <span th:each="category: ${book.categories}">
                    <b th:text="${category.name}"/></span>
            </td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.quantity}"></td>
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/book/update/{id}/(id=${book.id})}"> Update </a> <a th:href="@{/book/delete/{id}/(id=${book.id})}"> Delete </a></td>
            <td sec:authorize="hasRole('USER')"><a th:href="@{/order/add/{id}(id=${book.id})}">Add</a></td>
        </tr>
    </table>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/welcomeAdmin}"> Back </a>
</div>
<div sec:authorize="hasRole('USER')">
    <a th:href="@{/welcomeUser}"> Back </a>
</div>

</body>
</html>