<<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html lang="pl-PL">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Hello </h1>

<div>
    <span> Welcome to our Book Shop! </br> </span>
    <a th:href="@{/login}">Log in</a>
</div>

<div>
    <span> Register as User </br> </span>
    <a th:href="@{/registerUser}">User</a>
</div>

<div>
    <span> Register as Admin </br> </span>
    <a th:href="@{/registerAdmin}">Admin</a>
</div>
</body>
</html>