<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Fill in the form:</h1>
<div class="card-body">
    <form th:action="@{/registerUser}" method="post" th:object="${user}">

        <div>
            <h2> Your data</h2>
        <p>
            <label th:for="username"> User Name</label>
        <p th:input type="text" placeholder=" username">
            <input th:field="*{username}"/>
        <p th:errors="*{username}"></p>
        </p>
        <p>
            <label th:for="password">Password</label>
        <p th:input type="password" placeholder="password">
            <input th:field="*{password}"/>
        <p th:errors="*{password}"></p>
        </p>
        <p>
            <label th:for="email">Email</label>
        <p th:input type="email" placeholder="email">
            <input th:field="*{email}"/>
        <p th:errors="*{email}"></p>
        </p>
        <p>
            <label th:for="firstName">First Name</label>
        <p th:input type="text" placeholder="firstName">
            <input th:field="*{firstName}"/>
        <p th:errors="*{firstName}"></p>
        </p>
        <p>
            <label th:for="lastName">Last Name</label>
        <p th:input type="text" placeholder="lastName">
            <input th:field="*{lastName}"/>
        <p th:errors="*{lastName}"></p>
        </p>
        <p>
            <label th:for="dateOfBirth">Date of Birth</label>
        <p th:input type="text" placeholder="dateOfBirth">
            <input th:field="*{dateOfBirth}"/>
        <p th:errors="*{dateOfBirth}"></p>
        </p>
        </div>

        <div>
            <h2> Your address:</h2>
            <p>
                <label th:for="streetName"> Street Name </label>
            <p th:input type="text" placeholder=" streetName">
                <input th:field="*{streetName}"/>
            <p th:errors="*{streetName}"></p>
            </p>
            <p>
                <label th:for="houseNumber">House Number</label>
            <p th:input type="number" placeholder="houseNumber">
                <input th:field="*{houseNumber}"/>
            <p th:errors="*{houseNumber}"></p>
            </p>
            <p>
                <label th:for="apartmentNumber">Apartment Number</label>
            <p th:input type="number" placeholder="apartmentNumber">
                <input th:field="*{apartmentNumber}"/>
            <p th:errors="*{apartmentNumber}"></p>
            </p>
            <p>
                <label th:for="postalCode">Postal Code</label>
            <p th:input type="number" placeholder="postalCode">
                <input th:field="*{postalCode}"/>
            <p th:errors="*{postalCode}"></p>
            </p>
            <p>
                <label th:for="city">City</label>
            <p th:input type="number" placeholder="city">
                <input th:field="*{city}"/>
            <p th:errors="*{city}"></p>
            </p>
            <p>
                <input type="hidden" th:field="*{id}"/>
            </p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>
</body>
</html>